@font-face {
  font-family:"Lineage 2 Font";
  src:url("./fonts/Lineage2Font/49_la2font.eot") format("eot"),
      url("./fonts/Lineage2Font/49_la2font.woff") format("woff"),
      url("./fonts/Lineage2Font/49_la2font.ttf") format("truetype"),
      url("./fonts/Lineage2Font/49_la2font.svg") format("svg");
      font-weight:normal;
      font-style:normal;
  }


.app_header {
    text-align: center;
    font-family: 'Lineage 2 Font', sans-serif;
    color: white;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  h1 {
    padding: 20px 30px;
    border: 2px solid #ff9801;
    display: inline-block;
    border-radius: 80px;
    -webkit-box-shadow: 3px 6px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 11px 0px rgba(0,0,0,0.75);
  }

  h1:hover {
    -webkit-box-shadow: 3px 9px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 9px 11px 0px rgba(0,0,0,0.75);
  }
