.contact_card {
    width: 96%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    -webkit-box-shadow: inset 41px -79px 11px -68px rgba(0,0,0,1);
    -moz-box-shadow: inset 41px -79px 11px -68px rgba(0,0,0,1);
    box-shadow: inset 41px -79px 11px -68px rgba(0,0,0,1);
    font-family: Lato, sans-serif;
    border-radius: 5px;
    border: 0.1px solid #333333;
}

.contact_card:hover {
    background-color: #333333;
}

.avatar {
    height: 80px;
    border-radius: 50%;
    border: 3px solid #ff9801;
}

.avatar-wrapper {
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.contact_info {
    display: inline-block;
    vertical-align: middle;
}
