.left_side {
    width: 30%;
    background-color: #333333;
    text-align: center;
    color: white;
    -webkit-box-shadow: -2px -2px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: -2px -2px 21px 0px rgba(0,0,0,0.75);
    float: left;
    border-radius: 5px;
    margin-top: 15px;
    padding-bottom: 15px;
  }

  h2 {
    font-family: Lato,sans-serif;
    margin: 0 auto;
    padding: 0;
  }

  .contact_info {
    font-family: Lato,sans-serif;
    text-align: left;
  }

  .user_face {
    height: 120px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #ff9801;
  }

  p {
    padding-left: 45px;
    font-family: Lato,sans-serif;
    font-weight: 100;
  }

  .contact_info_header {
    border-bottom: 2px solid #ff9801;
  }