.right_side {
    display: inline-block;
    width: 70%;
    background-color: rgb(15, 9, 34);
    float: right;
    color: rgb(198, 220, 235);
    box-shadow: -3px 0px 0px 0px #6bbaa7;
  }

  .navigation {
    text-align: center;
    border-bottom: 1px solid #6bbaa7;
  }