.right_side {
    width: 70%;
    background-color: #1c1c1c;
    float: right;
    color: white;
    box-shadow: -3px 0px 0px 0px #ff9801;
    border-radius: 5px;
  }

  .navigation {
    text-align: center;
    border-bottom: 1px solid #ff9801;
  }