.App {
  font-family: Lato, sans-serif;
}

.header-wrapper {
  text-align: center;
  background-color: #222222;
  -webkit-box-shadow: inset -13px -61px 26px -39px rgba(0,0,0,1);
  -moz-box-shadow: inset -13px -61px 26px -39px rgba(0,0,0,1);
  box-shadow: inset -13px -61px 26px -39px rgba(0,0,0,1);
  border-bottom: 2px solid #ff9801;
  padding-top: 20px;
  padding-bottom: 20px;
}








